/* body {
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    color: var(--primary-text-color)   
}
ul {
 list-style: none;   
}
a {
    text-decoration: none;
}
address {
    font-style: normal;
}  */

/* .card-set li {
    border: 1px solid;
    width: 370px;
    text-align: center;
    margin-bottom: 30px;   
} 
.card-set {
    display: flex;
    flex-wrap: wrap;
     margin-left: -30px;
    margin-right: -30px; 
     margin-top: 20px;
    margin-bottom: 4px; 
}   */
/* .card-set li:not(:last-child){
    margin-right: 30px;
}
.item {
    margin-left: 30px;
    margin-right: 30px;
}     */



/* 
.container .card-set {
    padding-top: 50px;
    padding-bottom: 94px;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
}
.item {
    border: 1px solid;
    width: 370px;
}  */
/* .item h3 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 24px;
}
.item p {
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
} */