:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196f3;
--header-color: #ffffff;
--footer-color: rgba(255, 255, 255, 0.6);
--footer-color-line: #2F303A;
--logo-style-font: 'Raleway', sans-serif;
--black-color: #000000;
}
/* * {
     margin: 0; 
    padding: 0; 
}  */

body {
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    color: var(--primary-text-color)
} 
ul {
 list-style: none;   
} 
a {
    text-decoration: none;
} 
address {
    font-style: normal;
}
span {
    color:  #2196F3;
}  
/* LOGO */
.logo {
    font-family: var(--logo-style-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
    padding-top: 24px;
    padding-bottom: 25px; 
}
.logo-down {
    font-family: var(--logo-style-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-top: 60px;
}
/* HEADER */
.page-header {
    background: var(--header-color);
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.site-nav .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: var(--title-text-color);
}
.site-nav {
    display: flex;
    width: 245px;
}
.site-nav li:not(:last-child){
    margin-right: 50px;
}    

.nav {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}
.contacts-up { 
    display: flex;
    margin-left: 331px;   
}
.contacts-up li:not(:last-child){
    margin-right: 50px;  
}

.site-nav :hover,
.site-nav :focus,
.contacts-up :hover,
.contacts-up :focus {
    color: var(--accent-color);
}
.link:active {
    color: var(--accent-color);
}
.link.current {
    color: var(--accent-color);
}

.list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);
}

/* section-one */
.section-one {  
    background: var(--footer-color-line);
}
.section-two .container {
    /* padding-top: 94px; */
}
.section-two-list {
    padding-top: 94px;
    margin: 0;
    display: flex;
}
.section-two-list li:not(:last-child){
    margin-right: 30px;
}

/* IMAGES */
.contacts-section-images li:not(:last-child){
    margin-right: 30px;
}
.contacts-section-images li{
    width: 370px;
}
.contacts-section-images {
    display: flex;
    margin-bottom: 94px;
}
/* section-two */
.title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin: 0;
}
.description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-top: 10px;
    margin: 0;
}
/* IMAGES */

/* SECTION_PORTFOLIO */
.section-portfolio {
    background: var(--header-color);  
}
.buttons {
    display: flex;
    justify-content: center;
}
.buttons li {
    margin-left: 8px;
}
.container .card-set {
    padding-top: 50px;
    padding-bottom: 94px;
    padding-left: 0px;
    padding-right: 0px;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
}
.item {
    border: 1px solid #EEEEEE;
    width: 370px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.item:nth-child(3n){
    margin-right: 0;
}  
.item h3 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 24px;
}
.item p {
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.depiction {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.value {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* SECTION_PORTFOLIO */

/* HERO */
.hero {
    padding-top: 200px;
    /* padding-bottom: 280px; */

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;  
    letter-spacing: 0.06em;
    color: var(--header-color);

    text-transform: uppercase;

}
/* button */
.button-hero { 
   border: 1px solid transparent;
   font-weight: bold;
   font-size: 16px;
   line-height: 1.87;
   cursor: pointer;
   letter-spacing: 0.06em;
   color: #ffffff;
   font-family: inherit;
   padding: 10px 32px;
/* заказать услугу */
    background: #2196f3;
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.149);
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 460px;
}

/* заказать услугу */
.button-hero:hover,
.button-hero:focus {
    background: #F5F4FA;
    color: var(--title-text-color);
}

/* Rectangle 10 */
.button-list {
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
    cursor: pointer;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    height: 38px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
}
.button-list:hover,
.button-list:focus {
    background: var(--accent-color);
    color: var(--header-color);
}


/* SPECIAL_CONTENT */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; 
}
/* SPECIAL_CONTENT */

/* чем мы занимаемся & наша команда */
.work-team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center; 
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    padding-top: 94px;
}

/* SECTION_FOUR */
.section-four {
    background: #F5F4FA; 
}
.worker-list li {
    border: 1px solid transparent;
    width: 270px;
    text-align: center;
    border-radius: 0 0 4px 4px;
}
.worker-list {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 94px;
    padding-left: 0; 
}
.worker-list-name {
    background: #ffffff;
    box-shadow: 0 1px 3px;
}
.worker-list li:not(:last-child){
    margin-right: 30px;
}
.name {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}
.position {
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* SECTION_FOUR */


/* FOOTER */
.contacts-down {
    padding-left: 0;
}
.contacts-down .list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color);
}
.tel-list {
    padding-top: 9px;
    padding-bottom: 60px;
}
.footer-line {
    background: var(--footer-color-line); 
}
.footer-line .container {
    padding-top: 60px;
}
.list:hover,
.list:focus {
    color: var(--accent-color);
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-color);
    padding-top: 20px; 
}
/* FOOTER */